# Until Dependabot support is released https://github.com/dependabot/dependabot-core/issues/1524
name: Pre-commit update

on:
  # first day of every month
  schedule:
    - cron: "0 0 1 * *"
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        id: setup-python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: Configure Git
        run: |
          git config user.name pre-commit-update
          git config user.email pre-commit-update@users.noreply.github.com
      - name: make test
        run: make test
      - name: pre-commit autoupdate
        run: make pc-update
      - name: Commit and push
        run: |
          git checkout -b bump-pre-commit-hooks
          git add .
          git commit -m "chore: bump pre-commit hooks"
          git push -fu origin bump-pre-commit-hooks
      - name: Open pull request
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh pr create --fill
